################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/projects/kruegerd/kruegerd-Dominion/.vs/*
/projects/kruegerd/kruegerd-Dominion/DEBUG
/projects/kruegerd/kruegerd-Dominion/x64/*
*.obj
/projects/kruegerd/kruegerd-Dominion/cmd.exe.lnk
/projects/kruegerd/kruegerd-Dominion/dominion_c
/projects/kruegerd/kruegerd-Dominion/playdom_c
/projects/kruegerd/kruegerd-dominion-windows-console
*.idb
*.log
*.pch
**/.vs/
**/v15/


/projects/kruegerd/kruegerd-Dominion/kruegerd-dominion-windows-console/Debug/vc141.pdb
/projects/kruegerd/kruegerd-Dominion/kruegerd-dominion-windows-console/Debug/kruegerd.839CC32D.tlog/link.write.1.tlog
/projects/kruegerd/kruegerd-Dominion/kruegerd-dominion-windows-console/Debug/kruegerd.839CC32D.tlog/link.read.1.tlog
/projects/kruegerd/kruegerd-Dominion/kruegerd-dominion-windows-console/Debug/kruegerd.839CC32D.tlog/link.command.1.tlog
/projects/kruegerd/kruegerd-Dominion/kruegerd-dominion-windows-console/Debug/kruegerd.839CC32D.tlog/kruegerd-dominion-windows-console.lastbuildstate
/projects/kruegerd/kruegerd-Dominion/kruegerd-dominion-windows-console/Debug/kruegerd.839CC32D.tlog/CL.write.1.tlog
/projects/kruegerd/kruegerd-Dominion/kruegerd-dominion-windows-console/Debug/kruegerd.839CC32D.tlog/CL.read.1.tlog
/projects/kruegerd/kruegerd-Dominion/kruegerd-dominion-windows-console/Debug/kruegerd.839CC32D.tlog/CL.command.1.tlog
/projects/kruegerd/kruegerd-Dominion/rngs_c/Debug/rngs_c.tlog/rngs_c.lastbuildstate
/projects/kruegerd/kruegerd-Dominion/rngs_c/Debug/rngs_c.tlog/link.write.1.tlog
/projects/kruegerd/kruegerd-Dominion/rngs_c/Debug/rngs_c.tlog/link.read.1.tlog
/projects/kruegerd/kruegerd-Dominion/rngs_c/Debug/rngs_c.tlog/link.command.1.tlog
/projects/kruegerd/kruegerd-Dominion/rngs_c/Debug/rngs_c.tlog/Lib.command.1.tlog
/projects/kruegerd/kruegerd-Dominion/rngs_c/Debug/rngs_c.tlog/Lib-link.write.1.tlog
/projects/kruegerd/kruegerd-Dominion/rngs_c/Debug/rngs_c.tlog/Lib-link.read.1.tlog
/projects/kruegerd/kruegerd-Dominion/rngs_c/Debug/rngs_c.tlog/CL.write.1.tlog
/projects/kruegerd/kruegerd-Dominion/rngs_c/Debug/rngs_c.tlog/CL.read.1.tlog
/projects/kruegerd/kruegerd-Dominion/rngs_c/Debug/rngs_c.tlog/CL.command.1.tlog
/projects/kruegerd/kruegerd-Dominion/rngs_c/Debug/rngs_c.pdb
/projects/kruegerd/kruegerd-Dominion/rngs_c/Debug/vc141.pdb
