################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS362-004-F2018/v15/Browse.VC.db
/.vs/CS362-004-F2018/v15/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
*.suo
/.vs
/projects/kruegerd/Dominion-Files/Debug
/projects/kruegerd/kruegerd-Dominion/.vs/kruegerd-Dominion/v15
/projects/kruegerd/kruegerd-Dominion/Debug
/projects/kruegerd/kruegerd-Dominion/kruegerd-dominion-windows-console/Debug/kruegerd.839CC32D.tlog
*.obj
*.idb
*.pdb
/projects/kruegerd/kruegerd-Dominion/kruegerd-dominion-windows-console/Debug
**/.vs
